[core]
    # 改行コードをサーバー：LF, クライアント：CRLFになるように調整する
    # Windowsのみtrueにするか検討し、それ以外はfalseでいい
    autocrlf = false
    # UTF-8の日本語を文字化けせずに表示する
    quotepath = false
    ignorecase = false
    excludesfile = ~/.gitignore
[include]
    # ユーザー名などをGit管理しないローカルファイルに保持する
    path = ~/.gitconfig.local
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
    # 出力に色を付ける
    ui = auto
[alias]
    v = version
    cl = clone
    b = branch
    ba = branch -a
    bd = branch -d
    bm = branch -m
    sw = switch
    swc = switch -c
    rt = restore
    df = diff
    dfc = diff --cached
    s = status
    ss = status -s
    sb = status -s -b
    a = add
    aa = add -A
    rs = reset
    rsh = reset HEAD
    c = commit
    cm = commit -m
    ps = push
    pso = push origin
    psf = push -f
    ft = fetch
    fto = fetch origin
    rb = rebase
    rbd = rebase origin/develop
    mr = merge
    mrd = merge origin/develop
    st = stash
    stl = stash list
    sts = stash show
    stps = stash push
    stpsm = stash push -m
    stpp = stash pop
    stap = stash apply
    std = stash drop
    lg = log
    lga = log --graph --pretty=format:\"%C(yellow)%h %C(green)%an %C(cyan)%ar%C(yellow)%d %Creset%s\"
    tg = tag
    rmc = rm --cached
    rmr = rm -r
[diff]
    # diffでリネームを検知する
    renames = true
[filter "hawser"]
    clean = git hawser clean %f
    smudge = git hawser smudge %f
    required = true
# diffで差分をハイライトする
# 参考：https://github.com/git/git/tree/master/contrib/diff-highlight
# 　　：https://udomomo.hatenablog.com/entry/2019/12/01/181404
[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less

